			<footer>
				<div class="footersection">
					<nav class="bottomnav">
					<div class="row">
						<div class="grid-two-thirds">
                        	<div class="bottomnavmenu">
				            	<ul>
				                	<a class="footerlinks" href="{{site.baseurl}}/index.html"><li>HOME</li></a>
									<a class="footerlinks" href="{{site.baseurl}}/about.html"><li>ABOUT</li></a>
									<a class="footerlinks" href="{{site.baseurl}}/work.html"><li>WORK</li></a>
									<a class="footerlinks" href="mailto:efungr@gmail.com"><li>CONTACT</li></a>
								</ul>
							</div>
						</div>
						<div class="grid-third">
                            <div class="socialmediafooter">
                                <img class="smimg" src="http://fpoimg.com/58x58">
                                <img class="smimg" src="http://fpoimg.com/58x58">
                                <img class="smimg" src="http://fpoimg.com/58x58">
                            </div>
						</div>
					</div>    
					</nav>
				</div>
			</footer>
		</div>



		<!-- Javascript -->
		<!-- In the footer for better performance -->
		<script src="{{site.baseurl}}/dist/js/kraken.js"></script>
<!--
		<script src="dist/js/classlist.js"></script>
		<script src="dist/js/drop.js"></script>
-->
		<script src="{{site.baseurl}}/dist/js/jquery-1.11.1.min.js"></script>
	
		

		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
		<!-- (Via HTML5 Boilerplate: http://html5boilerplate.com/) -->
		<script>
			(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
			function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
			e=o.createElement(i);r=o.getElementsByTagName(i)[0];
			e.src='//www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
			ga('create','UA-XXXXX-X');ga('send','pageview');
		</script>
		
		<script>

				$( ".dropdown" ).click(function() {
					$( ".dropdown-menu" ).slideToggle( 100, function() {
   				  });
				});


/*
			drop.init({
			toggleSelector: '.dropdown',
			contentSelector: '.navleft.dropdown-menu, .navright.dropdown-menu',
			toggleActiveClass: 'active',
			contentActiveClass: 'active',
			initClass: 'js-drop',
			callbackBefore: function (toggle) {},
			callbackAfter: function (toggle) {}
		});
*/
		</script>

	</body>
</html>